body {
    margin: 0px;
    padding: 32px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#render-container {
    /*background: radial-gradient(#fff, #aaa);*/
    /*background: gray;*/
    border: 1px solid black;
    width: 768px;
    height: 768px;
    overflow: hidden;
}

#imposter-canvas {
    width: 768px;
    height: 768px;
}

#pt-canvas {
    position: relative;
    top: -768px;
    width: 768px;
    height: 768px;
}

#structure {
    margin-left: 32px;
    margin-right: 32px;
}